p {
	margin-top: 3px;
	margin-bottom: 8px;
	display: block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-size: 14px;
  	line-height: 1.42857143;
  	color: #333;
}

.text-danger {
	color: #a94442;
}

.text-success {
	color: #3c763d;
}